body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    color: #0072BB;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
}


#event-calendar {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#event-calendar table {
    width: 100%;
    border-collapse: collapse;
}

#event-calendar th,
#event-calendar td {
    text-align: center;
    padding: 10px;
}

#event-calendar th {
    background-color: #6987C9;
    color: #fff;
    font-size: 18px;
    border: 1px solid #ddd;
}

#event-calendar th,
#event-calendar td {
    border: 1px solid #ddd;
}

#event-calendar td {
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

#event-calendar td:hover {
    background-color: #f2f2f2;
}

#event-calendar td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#event-calendar td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#event-calendar td.today {
    background-color: #ffc107;
    color: #fff;
    font-weight: bold;
}

.event-marker {
    background-color: #e74c3c;
    color: #fff;
    padding: 3px 5px;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
    margin: 0 2px;
}

#event-calendar td.events {
    position: relative;
}

#event-calendar td.events .event-marker {
    z-index: 1;
}

img {
    max-width: 16px;
    height: auto;
}

#date-info {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

#date-info h2 {
    color: #6987C9;
    font-size: 20px;
    margin-bottom: 10px;
}

#selected-date-info {
    font-size: 16px;
    color: #333;
}

#event-calendar td:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}