body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #DE9E36;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
}

h1 {
    text-align: center;
    color: #0072BB;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #FFF;
    color: #000;
}

tr:nth-child(even) {
    background-color: #FFF;
}

h1 {
    margin-bottom: 40px;
}

.add-info-link {
    color: #0072BB;
}