body {
    background-color: #0072BB;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("/CrisisCollab/crisis-collab/assets/images/WilfireEffect.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

body {
    background-image: url("/CrisisCollab/crisis-collab/assets/images/WilfireEffect.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}